
safari/.DS_Store
.DS_Store
safari/training/giraffe/.ipynb_checkpoints/15-checkpoint.jpg
.ipynb_checkpoints/MLG382_Safari_CNN_Project-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
safari/test/.ipynb_checkpoints/elephant-checkpoint.jpeg
